<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail</title>
    <style>
        body {
            min-width: 100;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #222222;
        }

        .message {
            white-space: pre-line;
        }

        p {
            color: #000000;
        }
    </style>
</head>

<body>
    <div class="container">
        <pre class="message"><%= message %></pre>
    </div>
</body>

</html>